<div class ="text-center card mt-5" *ngIf="profil">
  <h2>{{profil.nom | uppercase}} Details</h2>
  <div><span>Profil numero : </span>{{profil.id}}</div>

  <div class="row d-flex justify-content-center mt-3">

    <label class= "mx-3">Votre nom:
      <input type ="text" [(ngModel)]="profil.nom" placeholder="dupuy"/>
    </label>
  

    
    <label class= "mx-3">Votre Prenom:
      <input type ="text" [(ngModel)]="profil.prenom" placeholder="michel"/>
    </label>


    
    <label class= "mx-3">Votre lieu de naissance:
      <input type ="text" [(ngModel)]="profil.lieuNaissance" placeholder="Paris"/>
    </label>
    
  </div>

  <div class="row d-flex justify-content-center mt-3">

    <label class= "mx-3">Votre date de naissance (jj/mm/aaaa):
      <input type="date"  [(ngModel)]="profil.dateNaissance" placeholder="name"/>
    </label>

    <label class= "ml-3">Votre adresse:
      <input type="text" [(ngModel)]="profil.adresse" placeholder="8 place mozart"/>
    </label>

    <label class= "ml-3">Votre ville:
      <input type="text" [(ngModel)]="profil.ville" placeholder="Agen"/>
    </label>

  </div>

  <div class="row d-flex justify-content-center mt-3">
   
    <label class= "mx-3">Votre code postal:
      <input type="text" [(ngModel)]="profil.cp" placeholder="2200"/>
    </label>

    <label class= "mx-3">Lieu où est fait l attestation :
      <input type="text" [(ngModel)]="profil.faitA" placeholder="Agen"/>
    </label>

    <label class= "mx-3">Retard horaire (en minute) :
      <input type="number" [(ngModel)]="profil.retardHoraire" placeholder="15"/>
    </label>

</div>

<div class="text-center">
  <button class="btn-primary" (click)="goBack()">go back</button>
  </div>
 
</div>

