<div class =text-center>
<h2>Mes profils</h2>
<div class="d-flex justify-content-center align-content-center">
<ul class="profils flex-column">
  <li *ngFor="let profil of profils">
    <a class ="w-100 " routerLink="/detail/{{profil.id}}">
      
       {{profil.nom}} 
       {{profil.prenom}} 
       
    </a>
    
  </li>
</ul>
<div class ="flex-column col-1">
  <button *ngFor="let profil of profils" class="btn-danger mt-1 mx-3 " (click)="remove(profil.id)">Supprimer</button>
  
</div>

</div>

<button class="btn-primary" (click)="add()">Ajouter</button>

</div>
