
<div class = "dash">

<div class=" d-flex justify-content-center align-content-center mt-5">

  <h2 class="mr-5">Profil</h2>
  <select id="profilSelect" class="form-control form-control-lg w-50" >
      <option *ngFor="let profil of profils" value="{{profil.id}}" >{{profil.nom}}</option>
  </select>
</div>

<div class=" d-flex justify-content-center align-content-center mt-5">
  <h2 class="mr-5">Motif</h2>
  <select id="motifSelect" class="form-control form-control-lg w-50"  >
    <option  value="travail" >travail</option>
    <option  value="achats_culturel_cultuel" >achats</option>
    <option  value="sante" >sante</option>
    <option  value="famille" >famille</option>
    <option  value="sport_animaux" >sport/animaux</option>
    <option  value="handicap" >handicap</option>
    <option  value="convocation" >convocation</option>
    <option  value="missions" >missions</option>
    <option  value="enfants" >enfants</option>
</select>
</div>


<div class="h-100 w-100 d-flex justify-content-center align-content-center mt-5">
 
  <button onclick="monQrCode()"type="button" class="btn btn-lg btn-dark" style="width:10em; height:8em;">Génerer</button>

</div>

<div id="img" class ="img text-center">

</div>

</div>

